/* nav bar */
#umbrella {
    width: 4%;
    margin-right: 10px;
}

.nav-bar {
    background-color: rgb(115, 160, 197);
    font-size: 20px;
    padding-left: 5%;
    margin-bottom: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 8px;
}

.navlinks {
    margin-left: 60%;
}



/* text style */
body {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

img {
    border-radius: 5%;
    width: 75%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* room list page - MAIN PAGE */

.banner {
    background: url("https://www.boutique-homes.com/storage/images/vacation-rentals/europe/greece/akri-villa/villa_for_rent_in_greece_002-1.jpg?s=f");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    position: relative;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.banner_info {
    background-color: rgb(67, 68, 68);
    color: white;
    padding-top: 25vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    width: 450px;
}

/* room card page */

.room_img {
    width: 75%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.roomleftcolumn {
    padding-top: 10px;
}

.roomrightcolumn {
    padding-top: 70px;
}

.horizontalrule2 {
    width: 25%;
    color: darkgrey;
}

.seemorebutton {
    background-color: rgb(55, 185, 194);
    color: white;
    text-decoration: none;
    margin-top: 30px;
    padding: 5px;
    border: none;
    border-radius: 10%;
}

.seemorebutton:hover {
    background-color: white;
    text-decoration: none;
    margin-top: 30px;
    color: rgb(55, 185, 194)
}

/* room details page */

.leftcolumn {
    padding: 50px;
}

.rightcolumn {
    background-color: rgb(67, 68, 68);
    color: white;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 30px;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.checkin {
    padding-top: 50px;
}

.calendar {
    border-radius: 5%;
    margin-bottom: 20px;
}

.horizontalrule {
    color: darkgrey;
}

.roomdetailsimage {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* login page */
.login_card {
    text-align: center;
    margin-left: 35%;
    margin-top: 10%;
    padding-bottom: 30px;
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.loginbutton {
    margin: 20px;
    background-color: rgb(55, 185, 194);
    color: white;
    border: none;
    border-radius: 10%;
}

.loginbutton:hover {
    margin: 20px;
    background-color: white;
    color: rgb(55, 185, 194);
}

.createaccount {
    color: black;
    text-decoration: none;
}

.createaccount:hover {
    color: black;
    text-decoration: underline;
}

img.card-img-top {
    width: 15%;
    margin-top: 10%;
    margin-left: 43%;
}

input {
    padding: 8px;
}

.newhere {
    padding-top: 20px;
}

/* host room card */

.hostroomcard {
    padding-left: 40px;
}

.hostcard {
    text-align: center;
}

.welcometitle {
    text-align: center;
    margin-bottom: 50px;
}

.newroomform {
    text-align: left;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

label {
    margin-left: 20px;
}

/* footer */
.footer {
    margin-top: 150px;
    width: 100%;
    bottom: 0;
    color: black;
  }
.footer:before,
.footer:after {
    content: "";
    display: table;
    clear: both;
  }
.footer {
    float: left;
    text-align: center;
    width: 100%;
    padding: 1.25em;
  }